@media screen and (min-width: 600px) {
  header {
    justify-content: space-between;
  }
  body {
    background-size: cover;
    background-position: center;
  }
  main .imghome1 {
    flex-direction: column;
    width: 500;
    height: 80%;
  }

  main .video {
    width: 100%;
    height: 100%;
  }

  .titulo {
    font-size: 2rem;
  }

  .descripcion-txt {
    font-size: 1.5rem;
  }
}
