/* reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body estilos generales

body {
  background-color: #4f4b4b;
  background-image: url("./img/carcel.png");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
