@media screen and (min-width: 992px) {
  header {
    justify-content: space-around;
  }

  body {
    background-size: contain;
    background-position: center;
  }

  main {
    .img-container {
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .video {
      width: 100%;
      height: 100%;
    }

    .titulo {
      font-size: 2rem;
    }
    .descripcion-txt {
      font-size: 1.5rem;
    }
    .imgfixed {
      width: 8%;
    }
  }
}
