@media screen and (min-width: 992px) {
  header {
    justify-content: space-between;
  }

  body {
    background-size: contain;
    background-position: center;
  }

  main {
    .img-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      img {
        padding: 2rem 1.5rem;
        width: 50%;
        height: 50%;
      }
    }

    .imgp {
      padding: 2rem 1.5rem;
      width: 40%;
      height: 40%;
    }

    .video {
      width: 100%;
      height: 100%;
    }

    .titulo {
      font-size: 2rem;
    }
    .descripcion-txt {
      font-size: 1.5rem;
    }
  }
}
