$color-pricipal: #4f4b4b;

// colores de menu

$color-nav: #c83232;
$color-letrasm: #d92121;
$color-botonm: #b8b0b0;
$color-menu: #726666;

//color de titulos

$color-titulo: red;

// color letra Parrafos

$color-letrasp: #efecec;

// color formulario de denuncias

$color-form1: #f7f5f3;
$color-form2: black;

// color Footer

$color-letrasF: #efecec;
$color-backF: rgb(220, 13, 13);

// color boton denuncias

$color-denuncias: #cc1f1f;
$color-botond: rgb(15, 14, 14);
